task: "controlnet"
sub_task: "image_to_image"
experiment_name: ""


# Model Configs
personalized_model: "/path/to/model"
model_type: "sdxl"
controlnet_model: "/path/to/model"
res_adapter_model: "/path/to/model"
res_adapter_alpha: 1.0


# Inference Configs
width: null
height: null
scale_ratio: 0.6  # scale the original image

num_inference_steps: 25
guidance_scale: 7.5
num_images_per_prompt: 4

source_images: [
  "assets/controlnet/man.png",
  "assets/controlnet/old.png",
]

prompts: [
  "man",
  "old man",
]

n_prompt: "lowres, bad anatomy, worst quality, low quality"


# Other Configs
enable_xformers: true
enable_compare: true
draw_text: true
seed: 42
device: 0
split_images: false